GameProgress(
    galaxy_map: {
        "Basic": GalaxyProgress(
            completed: false,
            next_level: Some("basic_1"),
        ),
        "Springy": GalaxyProgress(
            completed: false,
            next_level: Some("springy_1"),
        ),
    }
)