Walk2WorkHot(
    dummy: 0.3,
    ground_height: 40.0,
    ground_speed: 0.5,
    trash_piles: [
        (
            [
                (-78, 0),
                (-71, 21),
                (-65, 30),
                (-52, 57),
                (-49, 50),
                (-45, 46),
                (-44, 47),
                (-43, 37),
                (-40, 32),
                (-39, 30),
                (-38, 28),
                (-37, 22),
                (-34, 20),
                (-34, 22),
                (-31, 20),
                (-30, 20),
                (-26, 20),
                (-19, 30),
                (-7, 30),
                (0, 35),
                (7, 30),
                (19, 47),
                (26, 45),
                (32, 17),
                (39, 15),
                (45, 12),
                (46, 0),
            ], 
            -4,
        ),
        (
            [
                (40, 0),
                (45, 20),
                (60, 36),
                (79, 31),
                (120, 20),
                (138, 36),
                (179, 21),
                (209, 46),
                (229, 0),
            ],
            -5,
        ),
        (
            [
                (200, 0),
                (209, 20),
                (219, 30),
                (237, 57),
                (241, 53),
                (249, 49),
                (252, 50),
                (254, 39),
                (262, 34),
                (267, 31),
                (273, 29),
                (279, 24),
                (286, 21),
                (289, 23),
                (295, 22),
                (298, 19),
                (302, 19),
                (314, 22),
                (339, 32),
                (362, 33),
                (371, 39),
                (386, 33),
                (418, 47),
                (433, 45),
                (451, 17),
                (468, 15),
                (483, 12),
                (490, 5),
                (500, 0)
            ],
            -6,
        ),
    ],
    trash_speed: 0.5,
    bird_lifetime: 6.0,
    walk_speed: 0.25,
    walk_grow: 1.0,
    walk_y_offset: 3.0,
    dist_between_streetlamps: 120,
)