(
  resources: {},
  entities: {
    4294967819: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_core::name::Name": (
          hash: 2010979502666720304,
          name: "EditingRoot",
        ),
        "bevy_hierarchy::components::children::Children": ([
          8589934613,
        ]),
        "zenith::editor::EditingSceneRoot": (),
      },
    ),
    4294967828: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 13.0,
            y: -16.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (8589934613),
        "bevy_hierarchy::components::children::Children": ([
          4294967829,
        ]),
        "zenith::uid::UIdMarker": (8072347910298910278),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::mesh_head::BorderedMeshHead": (
          inner_path: "textures/play_inner.png",
          inner_size: (
36, 36,          ),
          outer_path: "textures/play_outer.png",
          outer_size: (
36, 36,          ),
          points: [
(-35, 31),(2, 32),(-13, 1),          ],
          border_width: 7.0,
          offset: (
0, 0, 0          ),
          render_layers: [
            3,
          ],
          scroll: (
0, 0,          ),
        ),
      },
    ),
    4294967829: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 13.0,
            y: -16.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967828),
        "bevy_hierarchy::components::children::Children": ([
          4294967830,
          4294967831,
        ]),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::mesh_head::BorderedMeshBody": (
          last_head: (
            inner_path: "textures/play_inner.png",
            inner_size: (
36, 36,            ),
            outer_path: "textures/play_outer.png",
            outer_size: (
36, 36,            ),
            points: [
(-35, 31),(2, 32),(-13, 1),            ],
            border_width: 7.0,
            offset: (
0, 0, 0            ),
            render_layers: [
              3,
            ],
            scroll: (
0, 0,            ),
          ),
          inner_uid: 2705258971450007548,
          outer_uid: 13008081897817614379,
        ),
      },
    ),
    4294967830: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 13.0,
            y: -16.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967829),
        "bevy_hierarchy::components::children::Children": ([
          4294967832,
        ]),
        "zenith::uid::UIdMarker": (2705258971450007548),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::mesh_head::MeshHead": (
          path: "textures/play_inner.png",
          points: [
(-29, 28),(-4, 28),(-14, 8),          ],
          render_layers: [
            3,
          ],
          hidden: false,
          offset: (
0, 0, 0          ),
          texture_kind: Repeating((
36, 36,          )),
          scroll: (
0, 0,          ),
        ),
      },
    ),
    4294967831: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 13.0,
            y: -16.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967829),
        "bevy_hierarchy::components::children::Children": ([
          4294967833,
        ]),
        "zenith::uid::UIdMarker": (13008081897817614379),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::mesh_head::MeshHead": (
          path: "textures/play_outer.png",
          points: [
(-35, 31),(2, 32),(-13, 1),          ],
          render_layers: [
            3,
          ],
          hidden: false,
          offset: (
0, 0, -0.5          ),
          texture_kind: Repeating((
36, 36,          )),
          scroll: (
0, 0,          ),
        ),
      },
    ),
    4294967834: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -35.0,
            y: 31.0,
            z: 2.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -22.0,
            y: 15.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (-35, 31, 2),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (8589934613),
        "bevy_hierarchy::components::children::Children": ([
          4294967835,
          4294967836,
        ]),
        "zenith::uid::UIdMarker": (18430232676257100470),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::point::EPoint": (
          kind: Rock,
          core_uid: 14798725438540528307,
          highlight_uid: 2201137820029884618,
          size: 3,
          is_hovered: false,
          is_selected: false,
          drag_offset: None,
        ),
      },
    ),
    4294967835: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -22.0,
            y: 15.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967834),
        "bevy_hierarchy::components::children::Children": ([
          4294967837,
        ]),
        "zenith::uid::UIdMarker": (14798725438540528307),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::sprite_head::SpriteHead": (
          path: "sprites/editor/point.png",
          render_layers: [
            3,
          ],
          hidden: false,
          offset: (
0, 0, 0          ),
          scale: 1.0,
        ),
      },
    ),
    4294967836: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -22.0,
            y: 15.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967834),
        "bevy_hierarchy::components::children::Children": ([
          4294967838,
        ]),
        "zenith::uid::UIdMarker": (2201137820029884618),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::sprite_head::SpriteHead": (
          path: "sprites/editor/point_highlight.png",
          render_layers: [
            3,
          ],
          hidden: true,
          offset: (
0, 0, 0          ),
          scale: 1.0,
        ),
      },
    ),
    4294967839: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 2.0,
            y: 32.0,
            z: 2.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 15.0,
            y: 16.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (2, 32, 2),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (8589934613),
        "bevy_hierarchy::components::children::Children": ([
          4294967840,
          4294967841,
        ]),
        "zenith::uid::UIdMarker": (1186553624925843218),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::point::EPoint": (
          kind: Rock,
          core_uid: 543411879433182860,
          highlight_uid: 3349454390766787968,
          size: 3,
          is_hovered: true,
          is_selected: true,
          drag_offset: None,
        ),
      },
    ),
    4294967840: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 15.0,
            y: 16.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967839),
        "bevy_hierarchy::components::children::Children": ([
          4294967842,
        ]),
        "zenith::uid::UIdMarker": (543411879433182860),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::sprite_head::SpriteHead": (
          path: "sprites/editor/point.png",
          render_layers: [
            3,
          ],
          hidden: false,
          offset: (
0, 0, 0          ),
          scale: 1.0,
        ),
      },
    ),
    4294967841: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 15.0,
            y: 16.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967839),
        "bevy_hierarchy::components::children::Children": ([
          4294967843,
        ]),
        "zenith::uid::UIdMarker": (3349454390766787968),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::sprite_head::SpriteHead": (
          path: "sprites/editor/point_highlight.png",
          render_layers: [
            3,
          ],
          hidden: false,
          offset: (
0, 0, 0          ),
          scale: 1.0,
        ),
      },
    ),
    4294967844: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -13.0,
            y: 1.0,
            z: 2.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: -15.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (-13, 1, 2),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (8589934613),
        "bevy_hierarchy::components::children::Children": ([
          4294967845,
          4294967846,
        ]),
        "zenith::uid::UIdMarker": (3762538633924655256),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::point::EPoint": (
          kind: Rock,
          core_uid: 10535587320951113983,
          highlight_uid: 6921977685057607652,
          size: 3,
          is_hovered: false,
          is_selected: false,
          drag_offset: None,
        ),
      },
    ),
    4294967845: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: -15.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967844),
        "bevy_hierarchy::components::children::Children": ([
          4294967847,
        ]),
        "zenith::uid::UIdMarker": (10535587320951113983),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::sprite_head::SpriteHead": (
          path: "sprites/editor/point.png",
          render_layers: [
            3,
          ],
          hidden: false,
          offset: (
0, 0, 0          ),
          scale: 1.0,
        ),
      },
    ),
    4294967846: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: -15.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_hierarchy::components::parent::Parent": (4294967844),
        "bevy_hierarchy::components::children::Children": ([
          4294967848,
        ]),
        "zenith::uid::UIdMarker": (6921977685057607652),
        "zenith::editor::save::SaveMarker": (),
        "zenith::drawing::sprite_head::SpriteHead": (
          path: "sprites/editor/point_highlight.png",
          render_layers: [
            3,
          ],
          hidden: true,
          offset: (
0, 0, 0          ),
          scale: 1.0,
        ),
      },
    ),
    8589934613: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 13.0,
            y: -16.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 13.0,
            y: -16.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (13, -16, 0),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (4294967819),
        "bevy_hierarchy::components::children::Children": ([
          4294967828,
          4294967834,
          4294967839,
          4294967844,
        ]),
        "zenith::uid::UIdMarker": (15189781051597699323),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::planet::EPlanet": (
          rock_points: [
            18430232676257100470,
            1186553624925843218,
            3762538633924655256,
          ],
          rock_kind: Normal,
          bordered_mesh_uid: 8072347910298910278,
          wild_points: [],
          fields: [],
        ),
      },
    ),
  },
)
