(
  resources: {},
  entities: {
    8589935123: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_core::name::Name": (
          hash: 7553974182441993249,
          name: "EditingRoot",
        ),
        "bevy_hierarchy::components::children::Children": ([
          8589935124,
        ]),
        "zenith::editor::EditingSceneRoot": (),
      },
    ),
    8589935124: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 40.0,
            y: -38.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 40.0,
            y: -38.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_core::name::Name": (
          hash: 8664648900683972347,
          name: "Planet",
        ),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (40, -38, 0),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (8589935123),
        "bevy_hierarchy::components::children::Children": ([
          77309411864,
          8589935140,
          8589935142,
          64424509970,
          8589935145,
        ]),
        "zenith::uid::UIdMarker": (16332860245113392776),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::planet::EPlanet": (
          rock_points: [
            13876739302738734076,
            13597531047119616023,
            269428935306356061,
          ],
          rock_kind: Normal,
          wild_points: [],
          fields: [
            (
              field_points: [
                422507733896739298,
                13876739302738734076,
                269428935306356061,
              ],
              dir: (
0.9935327, 0.113546595,              ),
            ),
          ],
        ),
        "zenith::drawing::animation::MultiAnimationManager": (
          map: {
            "field_0": (
              key: "sprites/field/field_bg.png",
              map: {
                "sprites/field/field_bg.png": (
                  sprite: (
                    path: "sprites/field/field_bg.png",
                    size: (
12, 12,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-87, 67),(-40, 52),(-30, -13),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: false,
              is_changed: false,
            ),
          },
          is_coup: false,
        ),
        "zenith::drawing::bordered_mesh::BorderedMesh": (
          inners: [
            ("normal", (
              path: "textures/rock/normal_inner.png",
              size: (
36, 36,              ),
            )),
            ("simple_kill", (
              path: "textures/rock/kill_inner.png",
              size: (
36, 36,              ),
            )),
            ("maglev", (
              path: "textures/rock/maglev_inner.png",
              size: (
36, 36,              ),
            )),
          ],
          outers: [
            ("normal", (
              path: "textures/rock/normal_outer.png",
              size: (
36, 36,              ),
            )),
            ("simple_kill", (
              path: "textures/rock/kill_outer.png",
              size: (
36, 36,              ),
            )),
            ("maglev", (
              path: "textures/rock/maglev_outer.png",
              size: (
36, 36,              ),
            )),
          ],
          width: 7.0,
          points: [
(-40, 52),(6, 47),(-30, -13),          ],
          key: "normal",
          is_changed: false,
        ),
      },
    ),
    8589935140: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 6.0,
            y: 47.0,
            z: 2.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 46.0,
            y: 9.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_core::name::Name": (
          hash: 7283837537961342347,
          name: "Point",
        ),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (6, 47, 2),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (8589935124),
        "bevy_hierarchy::components::children::Children": ([
          8589935144,
          8589935146,
        ]),
        "zenith::uid::UIdMarker": (13597531047119616023),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::point::EPoint": (
          kind: Rock,
          size: 3,
          is_hovered: false,
          is_selected: false,
          drag_offset: None,
          selection_order: None,
        ),
        "zenith::drawing::animation::MultiAnimationManager": (
          map: {
            "core": (
              key: "solid",
              map: {
                "solid": (
                  sprite: (
                    path: "sprites/editor/point.png",
                    size: (
6, 6,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
                "hollow": (
                  sprite: (
                    path: "sprites/editor/point_wild.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-3, -3),(-3, 3),(3, 3),(3, -3),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: false,
              is_changed: false,
            ),
            "highlight": (
              key: "sprites/editor/point_highlight.png",
              map: {
                "sprites/editor/point_highlight.png": (
                  sprite: (
                    path: "sprites/editor/point_highlight.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-5, -5),(-5, 5),(5, 5),(5, -5),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: true,
              is_changed: false,
            ),
          },
          is_coup: false,
        ),
      },
    ),
    8589935142: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -30.0,
            y: -13.0,
            z: 2.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 10.0,
            y: -51.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_core::name::Name": (
          hash: 5892570399673696118,
          name: "Point",
        ),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (-30, -13, 2),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (8589935124),
        "bevy_hierarchy::components::children::Children": ([
          8589935132,
          8589935131,
        ]),
        "zenith::uid::UIdMarker": (269428935306356061),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::point::EPoint": (
          kind: Rock,
          size: 3,
          is_hovered: false,
          is_selected: false,
          drag_offset: None,
          selection_order: None,
        ),
        "zenith::drawing::animation::MultiAnimationManager": (
          map: {
            "core": (
              key: "solid",
              map: {
                "solid": (
                  sprite: (
                    path: "sprites/editor/point.png",
                    size: (
6, 6,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
                "hollow": (
                  sprite: (
                    path: "sprites/editor/point_wild.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-3, -3),(-3, 3),(3, 3),(3, -3),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: false,
              is_changed: false,
            ),
            "highlight": (
              key: "sprites/editor/point_highlight.png",
              map: {
                "sprites/editor/point_highlight.png": (
                  sprite: (
                    path: "sprites/editor/point_highlight.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-5, -5),(-5, 5),(5, 5),(5, -5),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: true,
              is_changed: false,
            ),
          },
          is_coup: false,
        ),
      },
    ),
    8589935143: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -47.0,
            y: 15.0,
            z: 2.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -47.0,
            y: 29.0,
            z: 4.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_core::name::Name": (
          hash: 10817498007604644769,
          name: "Point",
        ),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (-47, 15, 2),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (77309411864),
        "bevy_hierarchy::components::children::Children": ([
          8589935126,
          8589935138,
        ]),
        "zenith::uid::UIdMarker": (422507733896739298),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::point::EPoint": (
          kind: Field,
          size: 3,
          is_hovered: false,
          is_selected: false,
          drag_offset: None,
          selection_order: None,
        ),
        "zenith::drawing::animation::MultiAnimationManager": (
          map: {
            "core": (
              key: "solid",
              map: {
                "solid": (
                  sprite: (
                    path: "sprites/editor/point.png",
                    size: (
6, 6,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
                "hollow": (
                  sprite: (
                    path: "sprites/editor/point_wild.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-3, -3),(-3, 3),(3, 3),(3, -3),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: false,
              is_changed: false,
            ),
            "highlight": (
              key: "sprites/editor/point_highlight.png",
              map: {
                "sprites/editor/point_highlight.png": (
                  sprite: (
                    path: "sprites/editor/point_highlight.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-5, -5),(-5, 5),(5, 5),(5, -5),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: true,
              is_changed: false,
            ),
          },
          is_coup: false,
        ),
      },
    ),
    77309411864: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -40.0,
            y: 52.0,
            z: 2.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 14.0,
            z: 2.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_core::name::Name": (
          hash: 7283837537961342347,
          name: "Point",
        ),
        "zenith::physics::dyno::IntMoveable": (

    vel: (0, 0),
    pos: (-40, 52, 2),
    rem: (0, 0),
),
                    "bevy_hierarchy::components::parent::Parent": (8589935124),
        "bevy_hierarchy::components::children::Children": ([
          8589935143,
          8589935137,
          8589935127,
        ]),
        "zenith::uid::UIdMarker": (13876739302738734076),
        "zenith::editor::save::SaveMarker": (),
        "zenith::editor::point::EPoint": (
          kind: Rock,
          size: 3,
          is_hovered: false,
          is_selected: false,
          drag_offset: None,
          selection_order: None,
        ),
        "zenith::drawing::animation::MultiAnimationManager": (
          map: {
            "core": (
              key: "solid",
              map: {
                "solid": (
                  sprite: (
                    path: "sprites/editor/point.png",
                    size: (
6, 6,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
                "hollow": (
                  sprite: (
                    path: "sprites/editor/point_wild.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-3, -3),(-3, 3),(3, 3),(3, -3),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: false,
              is_changed: false,
            ),
            "highlight": (
              key: "sprites/editor/point_highlight.png",
              map: {
                "sprites/editor/point_highlight.png": (
                  sprite: (
                    path: "sprites/editor/point_highlight.png",
                    size: (
10, 10,                    ),
                  ),
                  length: 1,
                  next: None,
                  pace: None,
                ),
              },
              points: [
(-5, -5),(-5, 5),(5, 5),(5, -5),              ],
              scale: Repeat,
              offset: (
0, 0, 0              ),
              angle: 0.0,
              render_layers_u8: [
                3,
              ],
              hidden: true,
              is_changed: false,
            ),
          },
          is_coup: false,
        ),
      },
    ),
  },
)
