MenuAsset(
    texts: [
        TextBox(
            content: "Constellation A",
            weight: Bold,
            align: Center,
            size: 40.0,
            top: 110,
            left: 28,
            color: (1.0, 1.0, 1.0, 1.0),
            flash: Some((0.80, 0.5)),
        ),
    ]
)