MenuAsset(
    texts: [
        TextBox(
            content: "SAVE FILE",
            weight: Bold,
            align: Center,
            size: 100.0,
            top: 21,
            left: 79,
            color: (0.5, 0.5, 0.5, 0.5),
        ),
        TextBox(
            content: "SAVE FILE",
            weight: Bold,
            align: Center,
            size: 100.0,
            top: 20,
            left: 80,
            color: (1.0, 1.0, 1.0, 1.0),
        ),
        TextBox(
            content: "A",
            weight: Bold,
            align: Center,
            size: 160.0,
            top: 111,
            left: 35,
            color: (0.5, 0.5, 0.5, 0.5),
        ),
        TextBox(
            content: "A",
            weight: Bold,
            align: Center,
            size: 160.0,
            top: 110,
            left: 36,
            color: (1.0, 1.0, 1.0, 1.0),
        ),
        TextBox(
            content: "B",
            weight: Bold,
            align: Center,
            size: 160.0,
            top: 111,
            left: 123,
            color: (0.5, 0.5, 0.5, 0.5),
        ),
        TextBox(
            content: "B",
            weight: Bold,
            align: Center,
            size: 160.0,
            top: 110,
            left: 124,
            color: (1.0, 1.0, 1.0, 1.0),
        ),
    ]
)