MenuAsset(
    texts: [
        // Zenith title + shadow
        TextBox(
            content: "ZENITH",
            weight: Bold,
            align: Center,
            size: 160,
            top: 42,
            left: 78,
            color: (0.5, 0.5, 0.5, 0.5),
        ),
        TextBox(
            content: "ZENITH",
            weight: Bold,
            align: Center,
            size: 160,
            top: 41,
            left: 79,
            color: (0.5, 0.5, 0.5, 0.5),
        ),
        TextBox(
            content: "ZENITH",
            weight: Bold,
            align: Center,
            size: 160,
            top: 40,
            left: 80,
            color: (1.0, 1.0, 1.0, 1.0),
        ),
        // Flashing text
        TextBox(
            content: "* PRESS ANY BUTTON TO PLAY *",
            weight: Bold,
            align: Center,
            size: 46.0,
            top: 110,
            left: 80,
            color: (1.0, 1.0, 1.0, 1.0),
            flash: Some((0.80, 0.5)),
        ),
    ]
)