(start:(-73,3),goal:(109,7),rocks:[(kind:Normal,points:[(-41,-1),(71,0),(20,-31)],z:0),(kind:Normal,points:[(85,1),(127,0),(111,55),(154,26),(156,-18),(107,-28)],z:0),(kind:Normal,points:[(-95,0),(-58,-1),(-79,-29)],z:0)],fields:[(points:[(-58,-1),(-95,0),(-99,46),(124,48),(127,0)],dir:(-0.027017161,-0.999635),strength:Normal,drag:Normal)],segments:[(kind:Spring,left_parent:(-41,-1),right_parent:(71,0))],replenishes:[])