(start:(-73,3),goal:(109,7),rocks:[(kind:Normal,points:[(-95,0),(-58,-1),(-79,-29)],z:0),(kind:SimpleKill,points:[(-41,-1),(-11,-1),(-28,-31)],z:0),(kind:Normal,points:[(85,0),(127,0),(107,-28)],z:0),(kind:SimpleKill,points:[(7,-1),(30,-1),(21,-33)],z:0),(kind:SimpleKill,points:[(59,-33),(47,-1),(69,-1)],z:0)],fields:[(points:[(-58,-1),(-95,0),(-99,46),(124,48),(127,0)],dir:(-0.027017161,-0.999635),strength:Normal,drag:Normal)],segments:[(kind:Spring,left_parent:(-41,-1),right_parent:(-11,-1)),(kind:Spring,left_parent:(7,-1),right_parent:(30,-1)),(kind:Spring,left_parent:(47,-1),right_parent:(69,-1))],replenishes:[])