(start:(-63,-11),goal:(105,-6),rocks:[(kind:Normal,points:[(-75,-16),(-54,-16),(-65,-36)],z:0),(kind:Normal,points:[(-42,-17),(78,-15),(65,-41),(-32,-38)],z:0),(kind:Normal,points:[(89,-8),(102,-16),(110,-16),(118,-7),(109,17),(130,18),(137,-31),(115,-40),(97,-35),(88,-21)],z:0)],fields:[(points:[(-54,-16),(-75,-16),(-76,50),(117,52),(119,-14)],dir:(-0.0,-1.0),strength:Normal,drag:Normal)],segments:[(kind:Spring,left_parent:(-42,-17),right_parent:(78,-15))],replenishes:[])